@page
@model Drone.App.Frontend.Pages.pedidosEncargadosModel
@{
}
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

</head>
<body>

    <div class="container">

        <h1 style="padding-top: 10px; padding-bottom: 10px;">Perfil del encargado</h1>
        <p style="margin-top: 50px;">Pedidos asignados <i>ahora</i></hp>
        
        <div class="row">

            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">ID Pedido 1001</h5>
                  <p class="card-text">HardDrive- Book</p>
                  <p class="card-text">Hora 12:05 PM</p>
                  <p class="card-text">Cliente 5412</p>
                  <a href="#" class="btn btn-primary">Actualizar</a>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">ID Pedido 1001</h5>
                    <p class="card-text">HardDrive- Book</p>
                    <p class="card-text">Hora 1:50 PM</p>
                    <p class="card-text">Cliente 4152</p>
                    <a href="#" class="btn btn-primary">Actualizar</a>
                  </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">ID Pedido 1001</h5>
                    <p class="card-text">HardDrive- Book</p>
                    <p class="card-text">Hora 2:15 PM</p>
                    <p class="card-text">Cliente 4589</p>
                    <a href="#" class="btn btn-primary">Actualizar</a>
                  </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">ID Pedido 1001</h5>
                    <p class="card-text">HardDrive- Book</p>
                    <p class="card-text">Hora 5:50 PM</p>
                    <p class="card-text">Cliente 5412</p>
                    <a href="#" class="btn btn-primary">Actualizar</a>
                  </div>
                </div>
            </div>

        </div>
        

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>